@import '../inc/variables';
@import '../inc/mixins';
@import '../normalize/normalize';
@import '../inc/shape-dividers';
@import '../inc/header';

.index-body{
    width: 100%;

    .title-container{
        margin: 5rem auto;
        width: 88%;
        height: 100vh;
        text-align: center;
        background-image: url("../../img/basic/carart.png");
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: inset 100vh 100vh 100vw rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        .title{
            color: $main-text;
            font-size: 4em;
            letter-spacing: -2px;
        }
        .subtitle{
            color: $main-text;
            font-weight: 500;
        }
    }


    .gallery{
        background-color: black;
        padding: 0 0;

        .photos-container{
            margin: auto;
            width: 70%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;

            .photo{
                width: 45%;
                cursor: pointer;
                filter: grayscale(80%);
                -webkit-filter: grayscale(80%);
                -moz-filter: grayscale(80%);
                -o-filter: grayscale(80%);
                -ms-filter: grayscale(80%);
                transition: .5s;

                &:hover{
                    filter: none;
                    -webkit-filter: grayscale(0);
                    -moz-filter: grayscale(0);
                    -o-filter: grayscale(0);
                    -ms-filter: grayscale(0);
                }
            }
        }
    }

    .about{
        background-color: $main-yellow;

        .about-container{
            margin: 5rem auto;
            width: 70%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            text-align: center;

            img{
                width: 100%;
            }
        }
    }
}