@import '../inc/variables';
@import '../inc/mixins';
@import '../normalize/normalize';
@import '../inc/shape-dividers';
@import '../inc/header';

.index-body{
    width: 100%;

    .title-container{
        margin: 5rem auto;
        width: 88%;
        height: 100vh;
        text-align: center;
        background-image: url("../../img/basic/carart.png");
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: inset 100vh 100vh 100vw rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        .title{
            color: $main-text;
            font-size: 4em;
            letter-spacing: -2px;
        }
        .subtitle{
            color: $main-text;
            font-weight: 500;
        }
    }


    .gallery{
        background-color: black;
        padding: 3rem 0;

        .photos-container{
            margin: auto;
            width: 70%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;

            .photo{
                width: 45%;
                cursor: pointer;
                filter: grayscale(80%);
                -webkit-filter: grayscale(80%);
                -moz-filter: grayscale(80%);
                -o-filter: grayscale(80%);
                -ms-filter: grayscale(80%);
                transition: .5s;

                &:hover{
                    filter: none;
                    -webkit-filter: grayscale(0);
                    -moz-filter: grayscale(0);
                    -o-filter: grayscale(0);
                    -ms-filter: grayscale(0);
                }
            }
        }
    }

    .about{
        background-color: $main-yellow;

        .about-container{
            margin: 5rem auto;
            width: 50%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            text-align: center;

            img{
                width: 100%;
                margin-top: 2rem;

                filter: saturate(.5);
                filter: brightness(120%);
                filter: contrast(150%);
            }

            .title{
                font-size: 2.4em;
                font-weight: 600;
            }

            .subtitle{
                font-size: 1.2em;
                font-weight: 200;
            }

            .content{
                font-weight: 200;
                font-size: 1.05em;
            }

            .btn{
                margin-top: .5rem;
                color: whitesmoke;
                background-color: black;
                padding: .78em 1.1rem;
                border-radius: 50px;
                cursor: pointer;
                transition: .3s;
                font-size: 0.87em;

                &:hover{
                    opacity: .7;
                }
            }
        }
    }

    .opening-hours{
        height: 80vh;
        background-image: url("../../img/basic/gar.jpg");
        background-size: cover;
        margin: 5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .hours{
            background-color: black;
            color: whitesmoke;
            width: 28%;
            height: 35%;
            text-align: center;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            h2{
                font-size: 1.7em;
            }
            
            p{
                font-weight: 300;
            }

            .timetable{
                display: flex;
                flex-direction: column;
                gap: .2rem;
            }
        }
    }
}